<footer>
    <div class="footer-middle">
        <div class="commonweb">
          <style>.footer-nav li h5{line-height:1.5em; /*font-size:1.1em*/} .footer-nav li h2{padding-bottom:0.7em;}</style>
                <ul class="clearfix footerul footer-nav">
                <li>                  
                     <img src="storage/18713/images/20240118/20240118091700_47585.png" width="120" height="120">
                </li> 
                <li>
                  <h2 style="color: #999999">联系我们</h2>
                    <h5 style="color: #999999">地址：山西省侯马经济开发区香邑工业园晋航路8号</h5>
                    <h5 style="color: #999999">电话：0357-40803388</h5>
                    <h5 style="color: #999999">          15234676446</h5>
                  <h5 style="color: #999999">          15581875461</h5>
                    <h5 style="color: #999999">邮箱：chapsxhm@126.com</h5>
                </li>
            </ul>
            
            <div class="footer-bottom">
               Copyright © 2019-2024 版权所有
            </div>
        </div>
    </div>
  
<div class="friendlink" style="background-color: #E9E9EB; height: 35px; line-height: 35px;">
                <div class="commonweb">
                    <p>
                        <span>友情链接：</span>
                       <a href="http://www.baidu.com" target="_blank" style=" color:#666666;">百度</a>
                    </p>
                </div>
            </div> 
</footer>