<div class="dock">
    <ul class="icons">
        <li class="up"><i></i></li>
        <li class="tel">
            <i></i><p>建站咨询热线<br>18653545153</p>
        </li>
        <li class="im">
            <i></i><p><a href="javascript:;">点我，建站咨询</a></p>
        </li>
    </ul>
</div> 
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="/static/js/inner.min.js"></script>
</body>
</html>