<!-- 底部 start -->
<footer class="row">
	<div class="large-6 columns">
		<p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href="/">超纳网络</a>. All Rights Reserved.</p>
	</div>
	<div class="large-6 columns">
		<ul class="inline-list">
			<li><a href="/">超纳网络</a></li>
		</ul>
	</div>
</footer>
<!-- 底部 end -->
<script src="https://cdn.bootcss.com/foundation/4.0.4/js/vendor/custom.modernizr.min.js"></script>
<script src="https://cdn.bootcss.com/foundation/4.0.4/js/vendor/zepto.min.js"></script>
<script src="https://cdn.bootcss.com/foundation/4.0.4/js/foundation.min.js"></script>
<!-- 初始化 Foundation JS -->
<script>
	$(document).ready(function() {
	    $(document).foundation();
	})
</script>
</body>
</html>