<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/foundation/4.0.4/css/foundation.min.css" >
	<link rel="stylesheet" href="https://cdn.bootcss.com/foundicons/3.0.0/foundation-icons.css">
</head>
<body>

<!-- 主导航 start -->
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <!-- 如果你不需要标题或图标可以删掉它 -->
      <h1><a href="#">WebSiteName</a></h1>
    </li>
      <!-- 小屏幕上折叠按钮: 去掉 .menu-icon 类，可以去除图标。 
      如果需要只显示图片，可以删除 "Menu" 文本 -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">web</a></li>
      <li><a href="#">seo</a></li>
      <li><a href="#">Page 3</a></li> 
    </ul>
  </section>
</nav>
<!-- 主导航 end -->