<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<meta name="keywords" content="{{ page.keywords }}">
<meta name="description" content="{{ page.description }}">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/inner.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
<![endif]-->
</head>

<body>
<header>
    <div class="box">
        <a href="index.html" title="4038工作室网站建设与制作"><img src="static/picture/logo_article.png" alt="4038工作室设计出品"></a>
        <div class="wechat">
            <img src="static/picture/wechat_code.jpg" alt="扫描关注4038工作室微信公众账号" class="wechat"><p>扫一扫微信二维码<i></i></p>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">4038工作室</a></li>
            
            <li><a href="index2.html">设计案例</a></li>
            <li class='active'><a href='' style='color:white;'>文章动态</a></li>
            <li><a href="index4.html">响应测试</a></li>
            
          </ul>
        </nav>
    </div>
    <footer>
        高端定制，品牌设计<br><u>2008 - 2016</u>作品集<br><a href="index.html" target="_blank">烟台网站建设与制作公司</a>
    </footer>
</header>