<aside class="large-4 columns" style="padding-top: 30px;">
	<h3>Category</h3>
	<nav>
		<ul class="side-nav" id="aside-nav" data-id="{{ page.category }}">
			<!-- <li class="active"><a href="{{ site.url }}/">Home</a></li> -->
			<li id="cat_blog"><a href="{{ site.url }}/blog/">All Blog <span class="label round">{{ site.posts.size }}</span></a></li>
			{% for category in site.categories %}
			<li id="cat_{{ category | first }}">
				<a href="{{ site.url }}/{{ category | first }}/">
					{{ category | first }} <span class="label round">{{ category | last | size }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</aside>
<script type="text/javascript">
	// 侧边栏导航选中
	var cat_id = document.getElementById("aside-nav").getAttribute("data-id");
	if(cat_id) {
		document.getElementById("cat_" + cat_id).setAttribute("class", "active");
	}else{
		document.getElementById("cat_blog").setAttribute("class", "active");
	}
</script>

<div style="clear:both;"></div>
<hr style="margin-top: 20px;">