---
layout: list
title: 智慧图书馆行业资讯 - 行业品牌网
keywords: 新闻,资讯
description: 智慧图书馆行业资讯、新闻、问答、评论。
---
<section class="video">
  <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide nth1">
            <div class="box">
              <div class="left"></div>
              <div class="right">
              <span>年专注，网站建设</span><i></i>
                <p>始于 2009 - 2016 展望未来<br>专注于设计体验，专业于解决方案</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide nth2">
            <div class="box">
              <span>设计控，也醉了</span><i></i>
                <p>不是非要高大上，只是醉心于设计<br>我们想，再上一个好案例</p>
            </div>
          </div>
          <div class="swiper-slide nth3">
            <div class="box">
              <div class="top">技术派，论研发</div>
              <div class="mid"></div>
              <div class="bottom">我说，业界没有最好的技术，只有最棒的技术开发者<br>定制研发，为您的客户和团队</div>
            </div>
          </div>
          <div class="swiper-slide nth4">
            <div class="box">
              <div class="top"><span>先入为主，布局未来</span><i></i></div>
              <div class="bottom">全面布局<u>PC</u>端与<u>移动</u>端<br>抢占头等商机<br>基于<u>Html5</u>响应式布局，智能识别多种终端设备</div>
            </div>
          </div>
        </div>
    </div>
    <div class="innerBox">
      <div class="news">
          <span>NEWS :</span>
            <a href="{{ site.baseurl }}{{ post.url }}" title="更多文章动态" class="more" target="_blank">more</a>
            <ul>
              {% for post in site.posts limit:10 %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
               <li><a href="92.html" target="_blank" title="千万别跟程序员过不去">千万别跟程序员过不去...</a></li>
                <li><a href="93.html" target="_blank" title="编程语言排行榜，Java力压群雄，C#位列第">编程语言排行榜，Java力压群雄，C#位列第...</a></li>
                <li><a href="94.html" target="_blank" title="DB-Engines 最新数据库排行榜">DB-Engines 最新数据库排行榜...</a></li>
                <li><a href="91.html" target="_blank" title="网络安全法六大看点解析：以法律形式明">网络安全法六大看点解析：以法律形式明...</a></li>
                <li><a href="90.html" target="_blank" title="中国首部网络安全法经全国人大常委会表">中国首部网络安全法经全国人大常委会表...</a></li>

            </ul>
        </div>
        <div class="guide"></div>
        <a class="movedown"></a>
    </div>
</section>
<ul class="inline-list large-12 columns" style="padding-top: 20px;">
  {% for post in site.posts %} 

  <li class="large-12">
    <span class="left">{{ post.date | date: "%Y-%m-%d" }}</span> 
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    {{ post.excerpt }}
    <hr>
  </li>
  {% endfor %}

</ul>