<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>联系我们 - 创普管模</title>
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" type="text/css" href="storage/18713/tpl/my_23/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="storage/18713/tpl/my_23/css/layout.css">
<script type="text/javascript" src="storage/18713/tpl/my_23/js/jquery-1.12.4.min.js"></script>
  <style>
   .top-bar {
    background-color: #E9E9EB;
    height: 35px;
    }
  </style>
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
</head>
<body>
<header>
  <div class="top-bar visible-lg">
    <div class="commonweb clearfix">
     	<a href="javascript:;" class="m-search-btn">
                    <span class="search-icon"></span>
                    <div class="m-search-box">
                        <form method="get" action="/so_article">
                            <input type="text" class="psearch-text" name="keyword" placeholder="请输入关键词" value="">
                            <input type="submit" class="psearch-btn" value="">
                        </form>
                    </div>
                </a>

                <span class="tip-navbtn"><a href="index1.html">中文版</a>/<a href="index2.html">English</a></span>
    </div>
  </div>
    <div class="header-bottom">
        <div class="commonweb clearfix">
            <a href="index1.html" class="logo">
                <img src="storage/18713/images/20240116/20240116160604_70259.jpg" alt="">
            </a>

            <a href="javascript:;" class="mobnav-btn">
                <span></span>
                <span></span>
                <span></span>
            </a>
            
            <div class="header-nav">
                <nav>
                    <ul class="clearfix">
      
                     <li data-rel="1">
                            <h4><a href="index1.html" class="" id="cur1">首页</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-创普首页">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="79">
                            <h4><a href="about.html" class="" id="cur79">关于我们</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="2">
                            <h4><a href="p/53.html" class="" id="cur2">产品中心</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="80">
                            <h4><a href="cpcs.html" class="" id="cur80">产品知识</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="18">
                            <h4><a href="a/601.html" class="" id="cur18">媒体中心</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="82">
                            <h4><a href="jcsb.html" class="" id="cur82">质量保证</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="83">
                            <h4><a href="fwzx.html" class="" id="cur83">服务中心</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="13">
                            <h4><a href="" class="main-nav-active" id="cur13">联系我们</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li>
                    
                    </ul>
                </nav>

               

            </div>
        </div>
    </div>
 
</header>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="jquery/2.1.1/jquery.min.js"></script>
 
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="inside-banner">
    <ul class="clearfix swiper-wrapper">       
       <li class="swiper-slide">
          <img src="storage/18713/tpl/my_23/images/banner-page-01.jpg" alt="">
       </li>
    </ul>
    <div class="index-dot"></div>
</div>
<div class="breadcrumb-wrap clearfix">
    <div class="inside-tab tab-left">
        <h3 class="inside-tab-title">联系我们</h3>
        <!--
        <ul class="inside-tab-main clearfix">
          <li class="" data-rel="25">
                <h4><a href="http://chapmachman.com/about.html" class="a1">关于我们 </a><span class="arrorright-btn"></span></h4>  
            </li>           
        </ul>
-->
    </div>
<!--
    <div class="breadcrumb breadcrumb-right ipad-show">
         当前位置： <a href="http://chapmachman.com/">首页</a> <span>&gt;</span> <a href="http://chapmachman.com/contact.html">联系我们</a> 
    </div>
-->
</div>
<script>
    $(function () {
        var curChannelId = ",24,6,24,6,";
        $(".inside-tab ul li").each(function () {
            var arel = $(this).attr("data-rel");
            if (curChannelId.indexOf(',' + arel + ',') > -1)
            { $(this).addClass("cur"); }
        })
    })
</script>

<div class="enterprise-profile">

  <div class="commonweb profile-one">
    <div class="wow fadeInUp" style="text-align:center;">
      <h4 class="profile-tit">联系我们</h4>
       <form id="myform" class="form-horizontal" method="post" action="/ask.html" onsubmit="this.url.value=window.location.href">

<input type="hidden" name="mAct" value="saveMsg">

                <input type="hidden" name="mUrl" id="mUrl">

                <input type="hidden" name="mLang" value="en">

                <!--姓名-->

                <div class="guestbook_info col-lg-4">

                <span>您的姓名 :</span>

                <div>

                <input type="text" name="name" class="form-control" id="username" placeholder="必填" required="required">

                </div>

                </div>

                          

                <!--电话-->

                <div class="guestbook_info col-lg-4">

                <span>联系电话 :</span>

                <div>

                <input type="text" name="tel" class="form-control" id="tel" placeholder="必填" required="required">

                </div>

                </div>
 <!--邮箱-->

                <div class="guestbook_info col-lg-4">

                <span>邮箱地址 :</span>

                <div>

                <input type="text" name="email" class="form-control" id="add" placeholder="必填" required="required">

                </div>

                </div>
                

                <!--内容-->

                <div class="guestbook_info col-lg-12">

                <span>留言内容 :</span>

                <div>

                <textarea name="content" class="form-control" rows="3" required="required"></textarea>

                </div>

                </div>

                <div class="guestbook_sub col-lg-12">

                <button type="submit" name="submit" value="Submit" class="btn btn-danger page-btn">提交留言</button>

                </div>

                <div class="clear"></div>

</form>
      <div style="padding: 20px 0;"></div>
      <p><img src="storage/18713/page/20240118/1705548114793537.png" title="image" alt="image"></p>
     
    </div>
  </div>
<!--
  <div class="profile-two">
    <dl class="clearfix commonweb">
      <dt class="wow fadeInLeft"><img src="" alt="联系我们"></dt>
      <dd class="wow fadeInRight">
      <p><img src="http://image.seohost.cn/storage/18713/page/20240118/1705548114793537.png" title="image" alt="image"/></p>
      </dd>
    </dl>
  </div>
-->
</div>

<!-- footer -->
{% include footer.html %}

<div class="return-top">
    <a href="javascript:;" class="return-btn"></a>
</div>

<script type="text/javascript" src="storage/18713/tpl/my_23/js/scrollbar.js"></script>
<script src="storage/18713/tpl/my_23/js/jquery.countup.min.js" type="text/javascript"></script>
<script src="storage/18713/tpl/my_23/js/swiper.jquery.min.js" type="text/javascript"></script>
<script src="storage/18713/tpl/my_23/js/wow.min.js"></script>
<script src='k/-4H7BFI7.js'></script><div style='display:none;'> <a href='https://www.ttkefu.com'>在线客服系统</a></div>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        offset: 0,
        mobile:false,
        live: true
    });
    wow.init();

</script>

<script src="storage/18713/tpl/my_23/js/layout.js" type="text/javascript"></script> 
    <div style="display:none;">cache</div><div style="text-align:center;display:none;"><span>Processed in 0.003395 Second.</span></div></body>
   
</html>