<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="renderer" content="webkit">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>创普管模</title>
<meta name="keywords" content="管模,创普">
<meta name="description" content="位于“机加之乡”山西省侯马市,专业生产制造铸管管模公司聘请行业制造和行业使用“双顾问”总工级专业技术人员把关,无论在管模加工和管模使用上均采用国际领先技术水平。">

<link rel="stylesheet" type="text/css" href="storage/18713/tpl/my_23/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="storage/18713/tpl/my_23/css/layout.css">
<script type="text/javascript" src="storage/18713/tpl/my_23/js/jquery-1.12.4.min.js"></script>
  <style>
   .top-bar {
    background-color: #E9E9EB;
    height: 35px;
    }
  </style>
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
</head>
<body>
<header>
  <div class="top-bar visible-lg">
    <div class="commonweb clearfix">
<!--         <a href="javascript:;" class="m-search-btn">
                    <span class="search-icon"></span>
                    <div class="m-search-box">
                        <form method="get" action="/so_article">
                            <input type="text" class="psearch-text" name="keyword" placeholder="请输入关键词" value="">
                            <input type="submit" class="psearch-btn" value="">
                        </form>
                    </div>
                </a> -->

                <span class="tip-navbtn"><a href="/">中文版</a>/<a href="http://en.chapmachman.com">English</a></span>
    </div>
  </div>
    <div class="header-bottom">
        <div class="commonweb clearfix">
            <a href="/" class="logo">
                <img src="storage/18713/images/20240116/20240116160604_70259.jpg" alt="">
            </a>

            <a href="javascript:;" class="mobnav-btn">
                <span></span>
                <span></span>
                <span></span>
            </a>
            
            <div class="header-nav">
                <nav>
                    <ul class="clearfix">
      
                     <li data-rel="1">
                            <h4><a href="/" class="main-nav-active" id="cur1">首页</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-创普首页">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="79">
                            <h4><a href="about.html" class="" id="cur79">关于我们</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="2">
                            <h4><a href="p/53.html" class="" id="cur2">产品中心</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="80">
                            <h4><a href="cpcs.html" class="" id="cur80">产品知识</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="18">
                            <h4><a href="a/601.html" class="" id="cur18">媒体中心</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="82">
                            <h4><a href="jcsb.html" class="" id="cur82">质量保证</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="83">
                            <h4><a href="fwzx.html" class="" id="cur83">服务中心</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li><li data-rel="13">
                            <h4><a href="contact.html" class="" id="cur13">联系我们</a>
                            <span class="arrorright-btn"></span></h4>
                            
                            <div class="sub-">
                                <div class="commonweb">
                                    
                                </div>
                            </div>
                        </li>
                    
                    </ul>
                </nav>

               

            </div>
        </div>
    </div>
 
</header>

<div class="banner">
    <ul class="clearfix swiper-wrapper">
        <li class="swiper-slide">
            <a href="index1.html">
                <img src="storage/18713/banner/20240118/20240118112324_46597.jpg" alt="">
            </a>
            <div class="bannertextcont bannerleft">        
            </div>
        </li><li class="swiper-slide">
            <a href="index1.html">
                <img src="storage/18713/banner/20240118/20240118112359_65133.jpg" alt="">
            </a>
            <div class="bannertextcont bannerleft">        
            </div>
        </li><li class="swiper-slide">
            <a href="index1.html">
                <img src="storage/18713/banner/20240118/20240118112414_53518.jpg" alt="">
            </a>
            <div class="bannertextcont bannerleft">        
            </div>
        </li>
          
    </ul>
    <div class="index-dot"></div>
</div>

<div id="services" class="scrol-page">
      <h2 class="title"><span>关于我们</span></h2>
      <h5 class="infoText">位于“机加之乡”山西省侯马市，专业生产制造铸管管模</h5>
      <div class="servicesBox">
        <ul class="k1120 clearfix">
          <li>
            <div class="servicesBoxList">
              <div class="servicesBoxIcon"><i class="servicesIcon_1"></i> </div>
              <h3></h3>
              <p>公司聘请行业制造和行业使用“双顾问”总工级专业技术人员把关，无论在管模加工和管模使用上均采用国际领先技术水平。主要技术工人聘请兵工厂内退人员，以保证产品的“军工品质”。</p>
            </div>
          </li>
          <li>
            <div class="servicesBoxList">
              <div class="servicesBoxIcon"><i class="servicesIcon_2"></i> </div>
              <h3></h3>
              <p>采用全新大型专用设备。包括深孔镗床T2250、T2280（1200mm*8000mm）。数控车床CKJ61125、CKJ6180（1800mm*9000mm）；设备的专用与先进属于国内领先水平。</p>
            </div>
          </li>
          <li>
            <div class="servicesBoxList">
              <div class="servicesBoxIcon"><i class="servicesIcon_3"></i> </div>
              <h3></h3>
              <p>合作供应商为大型中管企业，具备5.5万吨专用水压机和15米~30米的井式热处理炉，采用非焊热处理方式。材料品质决定产品的力学性能，为客户使用中的热疲劳和拔管支数提供了内在保障。</p>
            </div>
          </li>
          <li>
            <div class="servicesBoxList">
              <div class="servicesBoxIcon"><i class="servicesIcon_4"></i> </div>
              <h3></h3>
              <p>生产加工采用自动跳刀式深孔镗台阶孔处理技术，及数控管头处理机加工技术，保证管模内孔精镗一次成型和台阶孔递进均匀性与直线度，保证了管模承插口R面与斜面尺寸精度与光洁度。</p>
            </div>
          </li>
        </ul>
      </div>
</div>
   
<!--
<div class="index-product">
    <div class="commonweb clearfix">
        <div class="index-text wow fadeInLeft ">
            <h2 class="en">PRODUCTS</h2>
            <h3 class="cn">产品<span>中心</span></h3>
        </div>
         
        <div class="common-clumb-box wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
            <div class="common-clumb ">
                <div class="clumb-box swiper-wrapper">
              <a href="javascript:;" class="swiper-slide cur">家居1</a><a href="javascript:;" class="swiper-slide cur">家居2</a><a href="javascript:;" class="swiper-slide cur">家居3</a><a href="javascript:;" class="swiper-slide cur">家居4</a>
                </div>
            </div>
        </div>
    </div>
    <div class="common-wraper  wow fadeInUp">
     <div class="casebox-wrapper">
        
            <div class="case-box ">
                <ul class="clearfix swiper-wrapper">
                     
                    <li class="clearfix swiper-slide">
                        <a href="http://chapmachman.com/40.html"><img src="http://chapmachman.com/picture/20190625093428_35613.jpg" alt="家居1"></a>
                    </li>
                    
                </ul>
            </div>
            <div class="case-line">
                <div class="dot"></div>
            </div>
        </div><div class="casebox-wrapper">
        
            <div class="case-box ">
                <ul class="clearfix swiper-wrapper">
                     
                    <li class="clearfix swiper-slide">
                        <a href="http://chapmachman.com/59.html"><img src="http://chapmachman.com/picture/20190625093518_19145.jpg" alt="家居2"></a>
                    </li>
                    
                </ul>
            </div>
            <div class="case-line">
                <div class="dot"></div>
            </div>
        </div><div class="casebox-wrapper">
        
            <div class="case-box ">
                <ul class="clearfix swiper-wrapper">
                     
                    <li class="clearfix swiper-slide">
                        <a href="http://chapmachman.com/60.html"><img src="http://chapmachman.com/picture/20190625093614_69002.png" alt="家居3"></a>
                    </li>
                    
                </ul>
            </div>
            <div class="case-line">
                <div class="dot"></div>
            </div>
        </div><div class="casebox-wrapper">
        
            <div class="case-box ">
                <ul class="clearfix swiper-wrapper">
                     
                    <li class="clearfix swiper-slide">
                        <a href="http://chapmachman.com/85.html"><img src="http://chapmachman.com/picture/20190625093713_46132.jpg" alt="家居4"></a>
                    </li>
                    
                </ul>
            </div>
            <div class="case-line">
                <div class="dot"></div>
            </div>
        </div>   
    </div>
</div>
-->
<div class="index-Newscenter commonweb">
    <div class="inxnew-top clearfix wow fadeInUp">
        <div class="index-text ">
            <h2 class="en">News</h2>
            <h3 class="cn"><span>媒体</span>中心</h3>
        </div>
<a href="http://chapmachman.com/{filename}.html" class="new-more">MORE</a>     
    </div>
    <div class="inxnews-list  wow fadeInUp">
        
        <ul class="clearfix">
          <li class="col-sm-4">
                <a href="a/17.html">
      <p class="img"><img src="storage/18713/article/20240308/20240308105858_31373.png" alt="2024 开工大吉"></p>
                    <div class="newsdesc">
               <span class="date">2024-02-18</span>
                        <h3 class="name">2024 开工大吉</h3>
                        <p class="text">“人勤春来早，拼搏正当时”！2024年2月18日大年初九，在新的一年里，很高兴能够与大家一起庆祝和迎 ...</p>
                    </div>
                </a>
            </li>
          <li class="col-sm-8">
                <ul>
                    <!-- 循环输出最新的10条 -->
                    {% for post in site.posts offset:0 limit:10 %} 
                    <li>
                        <a href="{{ post.url }}">
                            <div class="index-newsdesc">
                                <h3 class="name">{{ post.title }} <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span></h3>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                  <li><a href="a/69.html">
                        <div class="index-newsdesc">
                            <h3 class="name">15Cr2Mo、21CrMo10和30CrMo材料的优劣不同 <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li><li><a href="a/67.html">
                        <div class="index-newsdesc">
                            <h3 class="name">管模的使用寿命和管模的拔管效率 <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li><li><a href="a/66.html">
                        <div class="index-newsdesc">
                            <h3 class="name">关于管模的磨削和打点 <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li><li><a href="a/65.html">
                        <div class="index-newsdesc">
                            <h3 class="name">管模上机前的准备工作 <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li><li><a href="a/64.html">
                        <div class="index-newsdesc">
                            <h3 class="name">水冷法和热模法的区别 <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li><li><a href="a/63.html">
                        <div class="index-newsdesc">
                            <h3 class="name">管模使用前的管理 <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li><li><a href="a/62.html">
                        <div class="index-newsdesc">
                            <h3 class="name">​锻件在热处理过程中产生的内应力有哪些？ <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li><li><a href="a/61.html">
                        <div class="index-newsdesc">
                            <h3 class="name">影响管模使用寿命的原因及预防 <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li><li><a href="a/60.html">
                        <div class="index-newsdesc">
                            <h3 class="name">管模使用后的存放 <span class="date">2024-01-18</span></h3>
                        </div>
                    </a></li>

                </ul>
            </li>
        </ul>
    </div>
</div>

  <link href="open/libs/weui/2.3.0/weui.min.css" rel="stylesheet">
<script type="text/javascript" src="t/wx_fed/weui.js/res/1.2.18/weui.min.js"></script>
<script>
   
  // contactus();
  function contactus() {
        weui.confirm('创普管模位于“机加之乡”山西省侯马市，专业生产制造铸管管模，欢迎联系我们', function () {
            console.log('yes');
                window.location.href = '/contact.html';
        }, function () {
            console.log('no');
        }, {
            title: '联系我们'
        });
    }
</script>

<!-- footer -->
{% include footer.html %}

<div class="return-top">
    <a href="javascript:;" class="return-btn"></a>
</div>

<script type="text/javascript" src="storage/18713/tpl/my_23/js/scrollbar.js"></script>
<script src="storage/18713/tpl/my_23/js/jquery.countup.min.js" type="text/javascript"></script>
<script src="storage/18713/tpl/my_23/js/swiper.jquery.min.js" type="text/javascript"></script>
<script src="storage/18713/tpl/my_23/js/wow.min.js"></script>
<script src='k/-4H7BFI7.js'></script><div style='display:none;'> <a href='https://www.ttkefu.com'>在线客服系统</a></div>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        offset: 0,
        mobile:false,
        live: true
    });
    wow.init();

</script>

<script src="storage/18713/tpl/my_23/js/layout.js" type="text/javascript"></script> 
</body>
   
</html>