{% include header.html %}

<!-- 主体 start -->
<section class="row" style="padding: 30px 0;">
	<!-- 面包屑导航 -->
	<div class="large-12 columns">
		<div class="breadcrumb">
			<i class="fi-marker"></i> <a href="{{ site.url }}/">Home</a> / 
			<span>Blog</span>
		</div>
	</div>
	
	<div class="large-8 columns">
		{{ content }}
	</div>

	<!-- 侧边栏 -->
	{% include side-nav.html %}
	
	{% if paginator.total_pages > 1 %}
	<div class="pagination-centered">
	  	<ul class="pagination">
	<!-- 分页代码 -->
		{% if paginator.previous_page %}
		    <li>
		    	<a class="button info" href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}">上一页</a>
		    </li>
		{% else %}
			<li><button class="button info">上一页</button></li>   
		{% endif %}
		{% if paginator.next_page %}
		    <li>
		    	<a class="button info" href="{{ paginator.next_page_path | prepend: site.url | replace: '//', '/' }}">下一页</a>
		    </li>
		{% else %}
		    <li><button class="button info">下一页</button></li> 
		{% endif %}
		</ul>
	</div>
	{% endif %}
  	
<!-- 	    <li class="arrow"><a href="#">«</a></li>
	    <li class="current"><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li class="arrow"><a href="#">»</a></li> -->
	  
</section>
<!-- 主体 end -->

{% include footer.html %}