{% include header.html %}
<style type="text/css">
	pre, code {width:100%; overflow: auto; overflow-y:hidden;background: hsla(0, 0%, 97%, .7);border: 1px solid #ddd;padding: 1em 1.5em;display: block;-webkit-overflow-scrolling: touch}
</style>
<!-- 主体 start -->
<section class="row" style="padding: 30px 0;">
	<!-- 面包屑导航 -->
	<div class="large-12 columns">
		<div class="breadcrumb">
			<i class="fi-marker"></i> <a href="{{ site.url }}/">Home</a> / 
			<a href="{{ site.url }}/{{ page.category }}/">{{ page.category }}</a> / 
			<span>{{ page.title }}</span>
		</div>
	</div>
	
	<div class="large-8 columns">
		<hr>
		<article>
		  	<h1 class="text-center">{{ page.title }}</h1>
			<p class="text-center"><time>{{ page.date | date: "%Y-%m-%d" }}</time></p>
		  	{{ content }}
		</article>

		 <ul class="no-bullet" style="padding-top: 30px;">
			<li class="large-6 columns">
				上一篇：{{ if page.previous }}
				<a href="{{ page.previous.url }}">{{ page.previous.title | truncatewords:5 }}</a>
				{{ endif }}
			</li>
			<li class="large-6 columns">
				下一篇：{{ if page.next }}
				<a href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }}</a>
				{{ endif }}
			</li>
		</ul>
	</div>

	<!-- 侧边栏 -->
	{% include side-nav.html %}

</section>
<!-- 主体 end -->

{% include footer.html %}